.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Header {
  width: 100%;
  overflow-x: hidden;
  margin: auto;
  text-align: center;
  height: 45px;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  background: #FFF;
}

.Header fixed{
  position: fixed;
  top: 0;
  z-index: 9999;
}

.logo{
  margin-top: 4px;
  width: 39px;
}

.h2{
  font-family: Arial;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}